@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-inter), sans-serif;
}

@layer base {
  :root {
    --background: #0b0c14;
    --foreground: #ffffff;
    --card: #ffffff;
    --card-foreground: #0a0a0b;
    --popover: #ffffff;
    --popover-foreground: #0a0a0b;
    --primary: #0ca6e9;
    --primary-foreground: #fafafa;
    --secondary: #f4f4f5;
    --secondary-foreground: #191919;
    --muted: #f4f4f5;
    --muted-foreground: #757575;
    --accent: #f4f4f5;
    --accent-foreground: #191919;
    --destructive: #e11d48;
    --destructive-foreground: #fafafa;
    --border: #e5e5e6;
    --border-navbar: #2f3440cc;
    --input: #e5e5e6;
    --ring: #0a0a0b;
    --chart-1: #e86c45;
    --chart-2: #2b8f8c;
    --chart-3: #2c4147;
    --chart-4: #d9b341;
    --chart-5: #e87339;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;

    h1 {
      @apply text-[64px] font-medium;
    }
  }
}

@layer base {
  @property --a {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }

  .animated-border {
    animation: a 2s linear infinite;
    background: repeating-conic-gradient(from var(--a, 0deg), #0000 0% 70%, var(--primary)) border-box;
  }

  @keyframes a {
    to {
      --a: 1turn;
    }
  }
}
