@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-inter), sans-serif;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0b;
    --card: #ffffff;
    --card-foreground: #0a0a0b;
    --popover: #ffffff;
    --popover-foreground: #0a0a0b;
    --primary: #191919;
    --primary-foreground: #fafafa;
    --secondary: #f4f4f5;
    --secondary-foreground: #191919;
    --muted: #f4f4f5;
    --muted-foreground: #757575;
    --accent: #f4f4f5;
    --accent-foreground: #191919;
    --destructive: #e11d48;
    --destructive-foreground: #fafafa;
    --border: #e5e5e6;
    --input: #e5e5e6;
    --ring: #0a0a0b;
    --chart-1: #e86c45;
    --chart-2: #2b8f8c;
    --chart-3: #2c4147;
    --chart-4: #d9b341;
    --chart-5: #e87339;
    --radius: 0.5rem;
  }
  .dark {
    --background: #0a0a0b;
    --foreground: #fafafa;
    --card: #0a0a0b;
    --card-foreground: #fafafa;
    --popover: #0a0a0b;
    --popover-foreground: #fafafa;
    --primary: #fafafa;
    --primary-foreground: #191919;
    --secondary: #27272a;
    --secondary-foreground: #fafafa;
    --muted: #27272a;
    --muted-foreground: #a3a3a6;
    --accent: #27272a;
    --accent-foreground: #fafafa;
    --destructive: #7f1d1d;
    --destructive-foreground: #fafafa;
    --border: #27272a;
    --input: #27272a;
    --ring: #d4d4d8;
    --chart-1: #1e62cc;
    --chart-2: #2d8a6d;
    --chart-3: #d67e22;
    --chart-4: #8b3bbf;
    --chart-5: #cc2e6d;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
